<!DOCTYPE html>
<html>
<head>
  <title>RESULTS!!</title>
</head>  
<body>
  <h1>Would you like to see your fortune?</h1>
  <h3>Holis, <%=@the_user%>, your fortune is, <%@the_fortune%></h3>
  <img src="https://giphy.com/gifs/5wWf7HapUvpOumiXZRK/html5"
</body>
</html>